<!--This is the base html file that all the other files will be extending from -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title> Online Journal App </title>


</head>
<body>
  {% block content %}
  {% endblock %}

  <footer class="footer">
    <div class="container">
        <p class="text-muted">Journal App is an online Journal platform powered by @Kanyi</p>
        <p class="text-muted">Created by Stephen Kanyi @2016</p>

    </div>
</footer>
</body>
</html>
