{% extends "base.html" %}
{% block content %}
<form method=post action="/login">
  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  <div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

    <form class="form-signin">
		<h1 class="form-signin-heading text-muted">Sign In</h1>
    <!--{{ form.email.label(class_="form-control")}}-->
    <label>Email</label>
    {{ form.email(class_="form-control")}}
    <!--{{ form.password.label(class_="form-control")}}-->
    <label>Password</label>
    {{ form.password(class_="form-control")}}
    </br>
	     <button class="btn btn-lg btn-primary btn-block" type="submit">
			Sign In
		</button>
	</form>

</div>

</form>
{% endblock %}
