{% extends "base.html" %}
{% block content %}
<form method=post action="/signup">
  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up to create your journal <small>It's free!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form">
			    			<div class="row">
			    				<div class="col-md-12">
			    					<div class="form-group">
			                {{ form.firstname.label }}
                      {{ form.firstname }}
			    					</div>
			    				</div>
                </div>
                <div class="row">
			    				<div class="col-md-12">
			    					<div class="form-group">
                      {{ form.lastname.label }}
                      {{ form.lastname }}
			    					</div>
			    				</div>
			    			</div>

                <div class="row">
                  <div class="col-md-12">
                  <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                <div class="form-group">
                  {{ form.email.label }}
                  {{ form.email }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
              <div class="form-group">
                {{ form.password.label }}
                {{ form.password }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            <div class="form-group">
              {{ form.confirm.label }}
              {{ form.confirm }}
            </div>
          </div>
        </div>>

			    			<input type="submit" value="SignUp" class="btn btn-info btn-block">

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>

<p>Sign Up to Write your first Journal Online</p>
</form>

{% endblock %}
