{% extends "base.html" %}
{% block content %}
<p> Your Journals </p>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
    <a href="{{url_for('newjournal')}}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new Journal</a>
        <tr>
            <th>ID</th>
            <th>Journal</th>
            <th>Tags</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            {% for entry in entries %}
            <tr>
                <td> {{ entry.id }} </td>
                <td> {{ entry.body }} </td>
                <td> {{ entry.tags }}  </td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="{{ url_for('edit', id=entry.id)}}"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
            </tr>

            {% endfor %}
    </table>
    </div>
</div>

{% endblock %}
